# N-Gram 모델 학습하기
- 영화 대본 데이터를 이용하요 N-gram 모델학습
- 모델 학습 후 단어 10개짜리 문장 3개 생성
- 결과 출력된 .ipynb 파일 드라이브에 업로드
- 업로드시 파일 이름은 본인 이름과 기수 표기
- 예) 18기_000.ipynb

In [1]:
from nltk.util import pad_sequence
from nltk.util import bigrams
from nltk.util import ngrams
from nltk.util import everygrams
from nltk.lm.preprocessing import pad_both_ends
from nltk.lm.preprocessing import flatten
from nltk import word_tokenize, sent_tokenize
import pandas as pd

In [8]:
import pandas as pd

# 구글 Colab에서 하는 경우 mount 후에 실행
df = pd.read_csv('./data/movie_lines.tsv', sep='\t', names=['lineID', 'characterID', 'movieID', 'characterName', 'text'])
df

,lineID,characterID,movieID,characterName,text
0,L1045,u0,m0,BIANCA,They do not!
1,L1044,u2,m0,CAMERON,They do to!
2,L985,u0,m0,BIANCA,I hope so.
3,L984,u2,m0,CAMERON,She okay?
4,L925,u0,m0,BIANCA,Let's go.
...,...,...,...,...,...
293363,L666371,u9030,m616,DURNFORD,Lord Chelmsford seems to want me to stay back ...
293364,L666370,u9034,m616,VEREKER,I'm to take the Sikali with the main column to...
293365,L666369,u9030,m616,DURNFORD,Your orders Mr Vereker?
293366,L666257,u9030,m616,DURNFORD,Good ones yes Mr Vereker. Gentlemen who can ri...
293367,L666256,u9034,m616,VEREKER,Colonel Durnford... William Vereker. I hear yo...

In [12]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288780 entries, 0 to 293367
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   lineID         288780 non-null  object
 1   characterID    288780 non-null  object
 2   movieID        288780 non-null  object
 3   characterName  288780 non-null  object
 4   text           288780 non-null  object
dtypes: object(5)
memory usage: 13.2+ MB

In [13]:
movie_corpus = list(df['text'].apply(word_tokenize))

In [16]:
print(df['text'][:5])
print(movie_corpus[:5])

0    They do not!
1     They do to!
2      I hope so.
3       She okay?
4       Let's go.
Name: text, dtype: object
[['They', 'do', 'not', '!'], ['They', 'do', 'to', '!'], ['I', 'hope', 'so', '.'], ['She', 'okay', '?'], ['Let', "'s", 'go', '.']]

In [18]:
from nltk.lm import MLE
from nltk.lm.preprocessing import padded_everygram_pipeline

n = 3
model = MLE(n)
train_data, padded_sents = padded_everygram_pipeline(n, movie_corpus)
model.fit(train_data, padded_sents)

In [19]:
len(model.vocab)

69916

In [21]:
print(model.vocab.lookup(movie_corpus[0]))

('They', 'do', 'not', '!')

In [17]:
from nltk.tokenize.treebank import TreebankWordDetokenizer

detokenize = TreebankWordDetokenizer().detokenize

def generate_sent(model, num_words, random_seed=42):

    content = []
    for token in model.generate(num_words, random_seed=random_seed):
        if token == '<s>':
            continue
        if token == '</s>':
            break
        content.append(token)
    return detokenize(content)

In [23]:
import random

for _ in range(3):
    print(generate_sent(model, 10, random.randint(1,1000)))

... and the planet.
's time to break down he'll find something you
Don't worry Janet.